.user__main {
    padding-bottom: 30px;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.item-tp__user-settings div:first-child{
    margin-top: 0px !important;
}

.item-tp__main-comment{
    max-width: 800px;
    width: 100%;
}

@media (max-width: 992px) {
    .header__block {
        flex-direction: column !important;
    }

    .navbar-collapse.collapse.show .header__lang{
        margin-left: 5px !important;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .navbar-collapse.collapse.show .header__search {
        margin-left: 5px !important;
        padding-left: 0px;
    }
}

@media (max-width: 768px) {
    .item-tp__fields{
        flex-direction: column;
    }
    .coll_main {
        flex-direction: column;
        gap: 10px;
    }
    .filter__main {
        margin-top: 15px !important;
    }
}

@media (max-width: 576px) {
    .collection__xs {
        flex-direction: column;
    }
    .collection__settings{
        margin-top: 20px;
    }
    .item-tp__main {
        flex-direction: column;
    }
    .item-tp__main  .item-tp__default{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .item-tp__buttons{
        margin-top: 20px;
        margin-left: 0px;
    }
}


